/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html{
  background: rgb(248, 249, 253);
}
a{
  text-decoration: none;
}

/* TYPOGRAPHY */

html{
  font-size: 62.5%;
  color: rgb(20, 26, 40);
}
body *{
  font-family: "Poppins", Helvetica, sans-serif;
  color: rgb(20, 26, 40);
}
.allCapsText{
  text-transform: uppercase;
}
.boldText{
  font-weight: bold;
}
.italicText{
  font-style: italic;
}
.whiteText{
  color: #fff;
}
h1{
  font-size: 3rem;
  line-height: 3.7rem;
  color: #fff;
  margin: 15px 0;
  padding-right: 34%;
}
h2, h3{
  font-size: 2rem;
  line-height: 2.7rem;
}
h3, h5{
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(60, 78, 100);
}
h5{
  font-weight: bold;
}
h4{
  font-size: 2rem;
  line-height: 2.7rem;
  color: rgb(60, 78, 100);
}

p{
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: 300;
}

#footer p{
  font-size: 1rem;
}



/******************************************
/* LAYOUT
/*******************************************/

.sidePadding{
  padding: 0 5%;
}
.paddingTop{
  padding-top: 80px;
}
.marginBottom{
  margin-bottom: 80px;
}
.paddingBottom{
  padding-bottom: 80px;
}

/* HEADER: Primary Header */

.primaryHeader{
  height: 60px;
  padding: 15px 5%;
  background: rgb(20, 26, 40);
}
.primaryHeader *{
  float: left;
  width: 10%;
}
.primaryNav{
  width: 38%;
  padding: 10px 0;
  font-weight: 600;
  float: right;
}
.primaryHeader a{
  float: right;
}
.primaryNav ul, 
.primaryNav a{
  width: 100%;
  color: rgb(139, 143, 150);
}
.primaryNav li{
  width: 16.6666%;
}

/* MAIN: Hero */

main{
  background: url(../img/hero-background.png) 50% 50% no-repeat;
  background-size: cover;
  background-clip: padding-box;
  height: 510px;
}
.internalContainer section,
.internalContainer a{
  float: left;
}
.column-1-2{
  width: 50%;
}

main .internalContainer .column-1-2 a:last-child{
  margin: 10px 0;
  padding-left: 35px;
}

main p{
  padding: 0 20% 50px 0;
}

@media screen and (min-width: 1355px){
  main{
    background: url(../img/hero-background-big-screen-1.png) 50% 50% no-repeat;
  }
}

@media screen and (min-width: 1505px){
  main{
    background: url(../img/hero-background-big-screen-2.png) 50% 50% no-repeat;
  }
}

/* SECTION: Partners */
#partners{
  height: 50px;
  margin: 50px 0;
}

/* SECTION: Services */

.textBlockLeft{
  padding-top: 50px;
}
h2{
  padding-right: 33%;
  margin: 10px 0;
}
.textBlockLeft p{
  margin: 20px 0;
  padding-right: 24%;
}
.textBlock a{
  margin-top: 50px;
}
.imgBlock section{
  width: 44%;
}
.imgGrid{
  background: #fff;
  border-radius: 5px;
  margin: 3%;
  box-shadow: 0 4px 5px rgba(222, 224, 233, 0.732);
}
.imgGrid *{
  text-align: center;
  padding: 0 0 5px 0;
}
.imgGrid p{
  padding: 0 20px 15px 20px;
}

/* SECTION: About */

.imgBlockLeft{
  padding-right: 10%;
}
.imgContainer{
  padding: 8px;
  background: rgb(221, 224, 233);
  border-radius: 5px;
}
.textBlockRight p{
  margin: 20px 0;
}

/* SECTION: How Does It Work? */
#howItWorks{
  height: 240px;
}
#howItWorks *{
  text-align: center;
}
#howItWorks p{
  padding: 20px 20%;
  margin-bottom: 50px;
}

/* SECTION: Create an Account */
#createAccount h2 {
  padding-right: 0;
  margin-bottom: 0;
}
#createAccount P{
  margin: 5px 0 20px 0;
}
.internalContainer + .btn{
  display: block;
  margin: 60px auto;
}
.squareIcon{
  border: 2.5px solid rgb(20, 26, 40);
  border-radius: 6px;
  padding: 8px;
  display: block;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
    #footer .squareIcon{
      border: 1.9px solid rgb(20, 26, 40);
      padding: 6.5px;
      width: 10px;
      height: 10px;
    }

.column-9-10{
  width: 90%;
  padding-left: 10px;
}
.column-1-10{
  width: 6%;
}
#createAccount .btnRound{
  margin-top: 20px;
}

.float{
  float: left;
}


/* SECTION: Core Features */

#features{
  background: url(../img/section-background.png) 50% 50% no-repeat;
  background-size: cover;
  background-clip: padding-box;
  height: 610px;
}
#features h3{
  padding-left: 5%;
}
#features h2{
  margin: 5px 0 100px 0;
  padding: 0 80% 0 5%;
}
.gridContainer{
  height: 180px; 
  overflow: hidden;
}
.gridItem{
  float: left;
  background: #fff;
  height: 150px;
  width: 300px;
  border-radius: 6px;
  margin: 10px;
  overflow: hidden;
}
.gridItem .squareIcon{
  margin: 20px 20px 15px 20px;
}
.gridItem h5{
  margin: 2px 20px;
}
.gridItem p{
  margin: 0 20px 20px 20px;
}
h2 + .gridContainer .gridItem:nth-of-type(2) *{
  text-align: center;
  line-height: 150px;
}
.gridContainer.top{
  padding-left: 5%;
}
.hidden{
  overflow: hidden;
}

@media screen and (min-width: 1340px){
  #features {
    background: url(../img/section-background-big-screen-1.png) 50% 50% no-repeat;
    height: 655px;
  }
}

@media screen and (max-width: 1251px){
  
  #features {
    background: url(../img/section-background-short-1.png) 50% 50% no-repeat;
    height: 655px;
  }

}

@media screen and (max-width: 910px){
  
  #features {
    background: url(../img/section-background-short-2.png) 50% 50% no-repeat;
    height: 655px;
  }
  .gridContainer{
    height: 160px; 
  }
  .gridItem {
    height: 130px;
  }

  .gridItem.displayHidden{
    display: none;
  }

}

/* SECTION: Business Approach */


/* SECTION: Testimonials */
#testimonials{
  background: #fff;
}
#testimonials *{
  display: block;
  text-align: center;
}
#testimonials p{
    font-size: 2rem;
    line-height: 3.4rem;
    color: rgb(60, 78, 100);
    padding: 5px 5%;
    margin: 15px 0 30px 0;
}
#testimonials img{
  border-radius: 50%;
  width: 40px;
}
.column-4-5{
  width: 88%;
}
.column-1-5{
  width: 6%;
  margin-top: 55px;
}
#testimonials .column-4-5 + .column-1-5 .btn{
  margin: 25px 0 25px 15px;
}
.column-4-5 .internalContainer{
  margin: 0 auto;
  display: block;
  float: none;
}
#testimonials .column-1-2:first-of-type{
  /* width: 91px; */
  padding-left: 40%;
}
#testimonials .column-1-2:last-of-type{
  /* width: 91px; */
  padding-right: 36%;
}

/* SECTION: Order & Contact */
#contact{
  background: rgb(20, 26, 40);
  padding: 40px 10%;
  
}
#contact p{
  color: #fff;
  font-size: 2rem;
  line-height: 3.4rem;
}
.column-1-2 a{
  margin: 10px 20px 0 0;

}

#contact .column-1-2{
  height: 55px;
}

/* FOOTER: Links */
#footer{
  background: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 270px;
}
.column-1-6{
  float: left;
  width: 13%;
  margin-right: 3%;
}
.column-1-6:first-of-type{
  width: 16.6666%;
  margin-right: 30px;
}

#contactInfo{
  padding: 20px 0;
}

.visibilityHidden{
  visibility: hidden;
}

@media screen and (max-width: 1014px){

  .column-1-6{
    width: 13%;
    margin-right: 2%;
  }

}

@media screen and (max-width: 814px){

  .column-1-6:first-of-type{
    width: 20%;
    margin-right: 20px;
  }

}

@media screen and (max-width: 799px){

  .column-1-6:first-of-type{
    width: 20%;
    margin-right: 25px;
  }

}



/******************************************
/* COMPONENTS
/*******************************************/

/* ANCHOR TAGS */

/* BUTTONS */

.btn{
  display: block;
  width: 90px;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
}
.btnLarge{
  width: 140px;
  height: 30px;
}
.btnGrey{
  background: rgb(58, 64, 78);
  color: #fff;
}
.btnWhite{
  background: #fff;
}
.btnBlue{
  background: rgb(20, 26, 40);
  color: #fff;
}
.btnRound{
  margin: 25px 15px 25px 0;
  line-height: 23px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid rgb(20, 26, 40);
}

/* FORMS */

/* IMAGES, ICONS, & LOGOS */

#logo{
  color: #fff;
  width: 25px;
}

.heroImg{
  max-width: 100%;
  display: block;
  padding: 15px 40px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 5px rgba(222, 224, 233, 0.732);
}
.imgMaxWidth{
  max-width: 100%;
}

@media screen and (min-width: 1505px){
  .heroImg {
    max-width: 90%;
  }
}

@media screen and (min-width: 1665px){
  .heroImg {
    max-width: 80%;
  }
}

@media screen and (min-width: 1765px){
  .heroImg {
    max-width: 75%;
  }
}


/* LISTS */

.partnersList{
  height: 60px;
  padding-left: 25%;
}
.partnersList *{
  float: left;
  display: block;
  color: rgba(125,128,135);
}
.partnersList > li{
  width: 17.2857%;
}
.partnersList li{
  font-size: 1.2rem;
}
.partnersList li:nth-of-type(1) i,
.partnersList li:nth-of-type(2) i,
.partnersList li:nth-of-type(6) i{
  width: 50%;
}

.partnersList .narrowIcon{
  width: 12.5%;
}
    .partnersList .narrowIcon.twitter{
      width: 8%;
    }


.iconText{
  margin: 10px 0;
}
.partnersList i{
  font-size: 3rem;
}
    .partnersList .fa-salesforce{
      font-size: 4rem;
    }
    .partnersList .fa-twitter{
      font-size: 2.3rem;
    }
.partnersList img{
  width: 55px;
}
.partnersList .hugeIcon{
  font-size: 2.5rem;
}


ul{
  height: 35px;
}

.liSpaceAround li{
  padding: 8px 0;
}

.column-1-4{
  float: left;
  width: 22%;
}

.columnRatio-1-5{
  width: 80%;
  float: left;
}

.columnRatio-1-5:first-child{
  width: 20%;
}

/* NAVS */


/* TABLES & GRIDS*/



/******************************************
/* STATES
/*******************************************/

a:hover{
  color: rgb(139, 143, 150);
}
.primaryNav a:hover{
  color: #fff;
}
a.btnGrey:hover{
  color: #fff;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
